<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.park.mapper.PilvuMapper">
    <select id="pagingPilvu" resultType="cn.park.pojo.PilVipUser">
        SELECT * from pil_vip_user where 1=1
        <if test="vid!=null">and vid=#{vid}</if>
        <if test="name!=null">and name=#{name}</if>
        <if test="sex!=null">and sex=#{sex}</if>
        <if test="identification!=null">and identification=#{identification}</if>
        <if test="phone!=null">and phone=#{phone}</if>
        <if test="carNumber!=null">and car_number=#{carNumber}</if>
        <if test="star!=null and end!=null">and register_time BETWEEN #{star} and #{end}</if>
    </select>
</mapper>