<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.park.mapper.PilvcMapper">
    <select id="Allpilvp" resultType="cn.park.pojo.PilVipComplain">
        SELECT c.id,c.`content`,u.`name`,c.`complain_time`,c.`status`,a.`username`,c.`advice`FROM `pil_vip_complain` AS c LEFT JOIN `pil_admin` AS a ON a.`id`=c.`aid` INNER JOIN `pil_vip_user` AS u ON u.`vid`=c.`vid` WHERE 1=1
        <if test="content!=null">
            and c.content like concat('%',#{content},'%')
        </if>
        <if test="name!=null">
            and u.name like concat('%',#{name},'%')
        </if>
        <if test="star!=null and end!=null">
            and c.`complain_time` BETWEEN #{star} AND #{end}
        </if>
        <if test="status!=null">
            and c.status=#{status}
        </if>
        <if test="username!=null">
            and a.username like concat('%',#{username},'%')
        </if>
    </select>
    <select id="getpvc" resultType="cn.park.pojo.PilVipComplain">
        SELECT * FROM `pil_vip_complain` WHERE id=#{id}
    </select>
    <update id="updatepvc">
        update pil_vip_complain
        <set>
            aid=#{aid,jdbcType=INTEGER}
            status#{status,jdbcType=VARCHAR}
            advice=#{advice,jdbcType=VARCHAR}
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
</mapper>