<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.park.mapper.ReconciliaMapper">
    <select id="getAllReconcilia" resultType="cn.park.pojo.Reconcilia">
        SELECT pil_info.id,pil_city.name as cname,pil_area.name as aname,
               pil_info.name as pname,pil_info.desc as describle,
	          pil_stop_info_charge.price, pil_stop_info_charge.paytype as payType,
	          pil_stop_info.begin_time as happen
	   FROM pil_city,pil_area,pil_info,pil_stop_info,pil_stop_info_charge
	   WHERE pil_city.id=pil_area.cid
	    AND  pil_stop_info_charge.siid=pil_stop_info.id
	    AND pil_info.aid=pil_area.id
    </select>
</mapper>

    